<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<p>
  名前: <%= @user.name %>
</p>  

<p>
    eメール:
  <%= @user.email %>
</p>
  
<p>
  紹介文：
  <%= @user.profile %>
</p>

<p>
  地域:
  <%= @user.location %>
</p>